.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: auto;
  width: 40%;
}

.title {
  margin-top: 50px;
}

.molecule-logo > img {
  width: 30%;
  height: auto;
  margin: 30px;
}

.input-formula > input {
  width: 70%;
  font-size: large;
  margin: 20px;
  text-align: center;
}

.parseBtn > button {
	color: rgb(255, 255, 255);
	padding: 10px 30px;
	display: inline-block;
	position: relative;
	border: 1px solid rgba(0,0,0,0.21);
	border-radius: 4px;
  background-color: rgb(55, 182, 50);
  margin-bottom: 30px;
}
